body {
    background-color: #eef9bf;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
}

.molde {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
}

.topo {
    margin: 40px 0;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}
   

.carta {
    width: 8vw;
    height: 12vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99cea8;
    margin: 40px 40px;
    transition: all 500ms;
    transform-style: preserve-3d;

}

.face {
    position: absolute;
    width: 8vw;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estampa {
    width: 80%;
    opacity: 1;
    transition: all 600ms;
}

.sumir {
    opacity: 0;
}

.frente {
    background-color: #A7E9AF;
    transform: rotateY(180deg);
}

.costas {
    background-color: #A7E9AF;
    backface-visibility: hidden;
}

.virar {
    transform: rotateY(180deg);
}